<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>社員一覧</title>
<meta charset="utf-8" />
</head>
<body>
    <table border="1">
        <tr>
            <th>社員ID</th>
            <th>社員名</th>
            <th>年齢</th>
            <th>案件名</th>
            <th>参画日</th>
        </tr>
        <tr th:each="info: ${employeeList}">
            <td th:text="${info.employeeId}"></td>
		    <td th:text="${info.employeeName}"></td>
		    <td th:text="${info.age}"></td>
		    <td th:text="${info.PjName}"></td>
		    <td th:text="${#dates.format(info.pjStartDate, 'yyyy/MM/dd')}"></td>
        </tr>
    </table>
</body>
</html>